@page "/"
@inject HttpClient httpClient
@using Models

<PageTitle>Home</PageTitle>

<h1>Horror Books Shop</h1>

@if (_horrorBooks == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var horrorBook in _horrorBooks)
    {
        <div class="bookContainer">
            <img src="@horrorBook.ImageUrl" width="200"/>
            <p>@horrorBook.Name</p>
            <p>@horrorBook.Author</p>
            <p>@horrorBook.Price</p>
            <a href="horrorbooks/@horrorBook.Id">Product Page</a>
        </div>
    }
}

@code {
    private List<HorrorBook> _horrorBooks = new List<HorrorBook>();

    protected override async Task OnInitializedAsync()
    {
        _horrorBooks = await httpClient.GetFromJsonAsync<List<HorrorBook>>("api/horrorBooks");
    }
}